# Workspace config
config.json

# Project Files
.idea
data
env
outputs
static/Screencast.mp4

# AzureML Files
.azureml
automl.log
azureml_automl.log
azureml-logs
cache
download_explanation
explanation
logs 

# Pyc Files 
**/**/__pycache__
